@CHARSET "UTF-8";
header{background:#4AB621;border-BOTTOM:1px solid #4AB621;color:#fff;  }
.header_l{color:#b4e4be}
.header_r i{color:#b4e4be}
.header_r i.ishouye{color:#b4e4be;}
.header_r i.xiala{color:#b4e4be;}
.footer_node_dft .fn_tag,.footer_node_dft .fn_icon{color:#46C477}
#uc_top_wrap{background:#4AB621;height:100px;}

/**
首页区域
*/
.i1flow_2{color:#46C477}
.ibtn_dft{color:#333;border-bottom:2px solid #46C477}
.form_node_name{color:#46C477}

.roomTypeNodeMemberPrice{border-left:2px solid #46C477;}
.rtnmp1{color:#FF6D10;}

.roomTypeNodeCalendarPrice{border-left:2px solid #46C477;}
.roomTypeNodeCalendarPrice span{color:#FF6D10;}


.colorOwn{color:#46C477}
.bgOwn{background:#46C477}
.borderOwn{border-color:#46C477}

/**
订单
*/
.si_dft{border-color:#46C477;color:#46C477}
.onbt{border:1px solid #46C477;color:#46C477}
.torderNodeFloorB>i{position: absolute;left:0;top:0;color:#46C477;opacity: 0.4}
.torderNodeFloor>i{position: absolute;left:0;top:0;color:#46C477;opacity: 0.4}