abbr[title] {
	text-decoration: underline;
	text-decoration: underline dotted
}

audio:not ([controls] ){
	display: none
}

b,strong {
	font-weight: bolder
}

button {
	-webkit-appearance: button;
	overflow: visible
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

button:-moz-focusring,input:-moz-focusring {
	outline: 1px dotted ButtonText
}

button,select {
	text-transform: none
}

details {
	display: block
}

hr {
	overflow: visible
}

html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%
}

input {
	-webkit-border-radius: 0
}

input[type=button],input[type=reset],input[type=submit] {
	-webkit-appearance: button
}

input[type=number] {
	width: auto
}

input[type=search] {
	-webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

main {
	display: block
}

pre {
	overflow: auto
}

progress {
	display: inline-block
}

summary {
	display: block
}

svg:not (:root ){
	overflow: hidden
}

template {
	display: none
}

textarea {
	overflow: auto
}

[hidden] {
	display: none
}

*,:after,:before {
	box-sizing: inherit
}

* {
	font-size: inherit;
	line-height: inherit
}

:after,:before {
	text-decoration: inherit;
	vertical-align: inherit
}

button,input,select,textarea {
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit
}

* {
	margin: 0;
	padding: 0
}

*,:after,:before {
	border-style: solid;
	border-width: 0
}

[tabindex],a,area,button,input,label,select,textarea {
	touch-action: manipulation
}

select {
	-moz-appearance: none;
	-webkit-appearance: none
}

select::-ms-expand {
	display: none
}

select::-ms-value {
	color: currentColor
}

svg {
	fill: currentColor
}

[aria-busy=true] {
	cursor: progress
}

[aria-controls] {
	cursor: pointer
}

[aria-disabled] {
	cursor: default
}

[hidden][aria-hidden=false] {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute
}

[hidden][aria-hidden=false]:focus {
	clip: auto
}

* {
	background-repeat: no-repeat
}

:root {
	background-color: #f0efed;
	box-sizing: border-box;
	color: #333;
	cursor: default;
	font: 100%/1 -apple-system, Roboto, PingFang SC, Noto Sans CJK SC,
		sans-serif
}

a {
	text-decoration: none
}

audio,canvas,iframe,img,svg,video {
	vertical-align: middle
}

button,input,select,textarea {
	background-color: transparent;
	color: inherit
}

[type=button],[type=date],[type=datetime-local],[type=datetime],[type=email],[type=month],[type=number],[type=password],[type=reset],[type=search],[type=submit],[type=tel],[type=text],[type=time],[type=url],[type=week],button,select,textarea
	{
	min-height: initial
}

code,kbd,pre,samp {
	font-family: monospace
}

nav ol,nav ul {
	list-style: none
}

small {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

textarea {
	resize: vertical
}

::selection {
	background-color: #b3d4fc;
	color: #fff;
	text-shadow: none
}

a {
	color: inherit
}

em {
	font-style: normal
}

body {
	font-size: .3rem
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400
}

li,ol,ul {
	list-style: none
}

* {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none
}

html {
	-webkit-user-select: none;
	user-select: none
}

label>* {
	pointer-events: none
}

[v-cloak] {
	display: none
}

.hue-base-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block !important
}

.hue-base-hidden {
	display: none
}

.hue-base-block {
	display: block
}

.hue-base-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.hue-base-flex-item {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1
}

.hue-base-active-background:active {
	background: #f0f0f0
}

.hue-base-active-background:active+*>*,.hue-base-active-background:active>*
	{
	border-top: 1px solid transparent
}

.hue-base-mr20 {
	margin-right: .2rem
}

.hue-base-clearfix:after {
	content: "";
	display: table;
	clear: both
}

.hue-base-navbar {
	height: .8rem;
	line-height: .8rem;
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 .24rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.hue-base-navbar-wrap {
	display: block;
	font-size: .32rem;
	color: #000;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	text-align: center
}

.hue-base-arrow-right {
	position: relative
}

.hue-base-arrow-right:after {
	position: absolute;
	right: .24rem;
	top: 50%;
	display: block;
	content: '';
	width: .16rem;
	height: .16rem;
	-webkit-transform: translateY(-50%) rotate(-135deg);
	transform: translateY(-50%) rotate(-135deg);
	border-left: .04rem solid #d9d9d9;
	border-bottom: .04rem solid #d9d9d9
}

.hue-base-arrow-down {
	position: relative
}

.hue-base-arrow-down:after {
	position: absolute;
	right: 0;
	top: 50%;
	display: block;
	content: '';
	width: .16rem;
	height: .16rem;
	-webkit-transform: translateY(-80%) rotate(-135deg);
	transform: translateY(-80%) rotate(-135deg);
	border-left: .04rem solid #d9d9d9;
	border-top: .04rem solid #d9d9d9
}

.hue-base-arrow-left {
	position: relative;
	padding-left: .24rem
}

.hue-base-arrow-left:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	width: .2rem;
	height: .2rem;
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
	border-left: .04rem solid #06c1ae;
	border-bottom: .04rem solid #06c1ae
}

.hue-base-banner-tips {
	font-size: .26rem;
	color: #f90;
	height: .7rem;
	line-height: .7rem;
	background: #fff6de;
	text-align: center
}

.hue-base-color-primary {
	color: #06c1ae
}

.hue-base-color-secondary {
	color: #fff
}

.hue-base-color-success {
	color: #71b41a
}

.hue-base-color-warning {
	color: #f90
}

.hue-base-color-danger {
	color: #ec5330
}

input,textarea {
	-webkit-appearance: none;
	outline: none;
	border-style: solid;
	pointer-events: initial !important;
	line-height: 100%
}

input[type=radio] {
	border-radius: 50%;
	border: 1px solid #ddd8ce;
	display: block;
	width: .45rem;
	height: .45rem;
	position: relative
}

input[type=radio]:checked {
	background: #06c1ae
}

input[type=radio]:checked:before {
	content: "";
	position: absolute;
	left: .15rem;
	top: .06rem;
	width: .14rem;
	height: .24rem;
	border-width: 0 .06rem .06rem 0;
	border-style: solid;
	border-color: #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

input[type=checkbox] {
	border: 1px solid #ddd8ce;
	display: block;
	width: .45rem;
	height: .45rem;
	position: relative;
	border-radius: .06rem;
	margin-left: .1rem
}

input[type=checkbox]:checked {
	background: #06c1ae
}

input[type=checkbox]:checked:before {
	content: "";
	position: absolute;
	left: .15rem;
	top: .08rem;
	width: .14rem;
	height: .24rem;
	border-width: 0 .06rem .06rem 0;
	border-style: solid;
	border-color: #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.btn,button {
	outline: none;
	background: transparent;
	border-style: solid;
	border: 1px solid #ddd8ce;
	border-radius: .06rem;
	display: block;
	text-align: center;
	width: 100%;
	height: 100%
}

.hue-base-button-block {
	margin: .24rem .3rem
}

.hue-base-button-block-btn,.hue-base-button-block-btn-disabled,.hue-base-button-block-btn-green,.hue-base-button-block-btn-red,.hue-base-button-block-btn-yellow
	{
	display: block;
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	color: #ec5330;
	background: #fff;
	border-radius: .06rem;
	border: 1px solid #ddd8ce;
	font-size: .34rem
}

.hue-base-button-block-btn-disabled:active,.hue-base-button-block-btn-green:active,.hue-base-button-block-btn-red:active,.hue-base-button-block-btn-yellow:active,.hue-base-button-block-btn:active
	{
	background: rgba(0, 0, 0, .1);
	border-color: rgba(0, 0, 0, .1)
}

.hue-base-button-block-btn-yellow {
	background: #fdb338;
	border-color: #fdb338;
	color: #fff
}

.hue-base-button-block-btn-yellow:active {
	background: #d66500;
	border-color: #d66500
}

.hue-base-button-block-btn-red {
	background: #fa7251;
	border-color: #fa7251;
	color: #fff
}

.hue-base-button-block-btn-red:active {
	background: #c23e1a;
	border-color: #c23e1a
}

.hue-base-button-block-btn-green {
	background: #2bb2a3;
	border-color: #2bb2a3;
	color: #fff
}

.hue-base-button-block-btn-green:active {
	background: #049387;
	border-color: #049387
}

.hue-base-button-block-btn-disabled {
	color: #999
}

.hue-base-button-block-btn-disabled,.hue-base-button-block-btn-disabled:active
	{
	background: #dcdcdc;
	border-color: #dcdcdc
}

.hue-base-button-block-btn-border-red {
	border: 1px solid #ec5330;
	color: #ec5330;
	display: block;
	width: 1.32rem;
	height: .52rem;
	line-height: .52rem;
	border-radius: .06rem
}

.hue-base-button-block-btn-border-red:active {
	border-color: #c23e1a
}

.hue-base-button-block-btn-border-green {
	border: 1px solid #2bb2a3;
	color: #2bb2a3;
	display: block;
	width: 1.32rem;
	height: .52rem;
	line-height: .52rem;
	border-radius: .06rem
}

.hue-base-button-block-btn-border-green:active {
	border-color: #2bb2a3
}

.hue-base-button-block-btn-border-yellow {
	border: 1px solid #fdb338;
	color: #fdb338;
	display: block;
	width: 1.32rem;
	height: .52rem;
	line-height: .52rem;
	border-radius: .06rem
}

.hue-base-button-block-btn-border-yellow:active {
	border-color: #fdb338
}

.hue-base-button-block-btn-border-disabled {
	border: 1px solid #8e8e8e;
	color: #999;
	display: block;
	width: 1.32rem;
	height: .52rem;
	line-height: .52rem;
	border-radius: .06rem
}

.hue-base-button-block-btn-border-disabled:active {
	border-color: #8e8e8e
}

.hue-base-block {
	background: #fff;
	margin: .2rem 0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	color: #666
}

.hue-base-block-item {
	display: block;
	padding-left: .24rem;
	color: inherit;
	font-size: .3rem
}

.hue-base-block-item>* {
	height: .88rem;
	line-height: .88rem;
	border-top: 1px solid #e5e5e5;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	padding-right: .24rem;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center
}

.hue-base-block-item:first-child>* {
	border-top: 1px solid transparent
}

.hue-base-block-item-highlight {
	display: block;
	text-align: center;
	background: #f4f5fa;
	height: .7rem;
	line-height: .7rem;
	font-weight: 700;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	margin-bottom: -1px
}

.hue-component-bottom-fixed-button {
	position: fixed;
	bottom: 0;
	left: 0;
	height: .98rem;
	line-height: .98rem;
	background: #fff;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	border-top: 1px solid #e5e5e5
}

.hue-component-bottom-fixed-button-price {
	padding-left: .2rem
}

.hue-component-bottom-fixed-button-price-total {
	font-size: .4rem;
	color: #06c1ae
}

.hue-component-bottom-fixed-button-price-original {
	font-size: .26rem;
	color: #999
}

.hue-component-bottom-fixed-button-btn {
	display: block;
	width: 2.4rem;
	height: 100%;
	background: #f90;
	color: #fff;
	border: none;
	font-size: .32rem;
	border-radius: 0
}

.hue-component-bottom-fixed-button-btn:active {
	background: #d66500
}

.hue-base-description-list {
	padding-top: .24rem;
	padding-bottom: .24rem;
	font-size: .26rem;
	color: #666;
	height: auto;
	display: block
}

.hue-base-description-list dl {
	display: block;
	height: .4rem;
	line-height: .4rem
}

.hue-base-description-list dd,.hue-base-description-list dt {
	display: inline
}

.hue-base-description-list dt {
	display: inline-block;
	width: 1.64rem;
	text-align: right
}

/**
@font-face {
	font-family: hue icon base;
	src: url(hue-base-components/hue-base-component-icon-base.woff)
		format("woff"),
		url(hue-base-components/hue-base-component-icon-base.otf)
}

@font-face {
	font-family: hue icon cate;
	src: url(hue-base-components/hue-base-component-icon-cate.woff)
		format("woff"),
		url(hue-base-components/hue-base-component-icon-cate.otf)
}**/

.hue-base-icon-base {
	font-family: hue icon base
}

.hue-base-icon-cate {
	font-family: hue icon cate
}

.hue-base-icon-base,.hue-base-icon-cate {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: 400;
	font-style: normal;
	display: inline-block
}