<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="weixin.hotel.mapper.AuthenticationMapper">
	<!-- 用户表中插入新的数据 by zuobei-->
	<insert id="InsertUser" parameterType="weixin.hotel.entity.User">
		insert into sys_user
		(SYSCODE, USERNAME, PASSWORD, PHONENUMBER)
		values
		(#{syscode, jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{phoneNumber,jdbcType=VARCHAR})
	</insert>
	<!-- 根据用户名查询user类 by zuobei -->
	<select id="slectUserByUserName" parameterType="java.lang.String" resultType="weixin.hotel.entity.User">
		select * from sys_user where USERNAME = #{0}
	</select>
</mapper>